.grid{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}

.turn-highlight{
    color:white;
}

.reset{
    background: var(--yellow);
    font-size: large;
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    border: 1px solid yellowgreen;
    border-radius: 15%;
}
.reset:hover{
    background: whitesmoke;
    /*color: var(--yellow);*/
    font-weight: bolder;

}
